<%
  var currentHour = (new Date()).getHours() + ( (new Date()).getTimezoneOffset()/60 );
  currentHour = currentHour%24;
  if ( (currentHour > 17) || (currentHour < 8) ) {
    sceneClass = "night";
  } else {
    sceneClass = "";
  }
%>

<div id="scene" class="<%= daytime ? 'day' : 'night' %>">
  <div id="foreground" style="background-position: 0px 100%"></div>
  <div id="background" style="background-position: 0px 100%"></div>
  <div id="mayor">
    <audio class="jump" src="/assets/audio/jump.mp3"></audio>
    <audio class="coin" src="/assets/audio/coin.mp3"></audio>'
    
  </div>
</div>
<table class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
      <th>ID#</th>
      <th class="hidden-phone">Updated</th>
      <th>Type</th>
      <th>Location</th>
      <th>Status</th>
      <th>Last Note</th>
    </tr>
  <tbody>
  </tbody>
</table>