<div id="scene" class="<%= daytime ? 'day' : 'night' %>">
  <div id="foreground" style="background-position: <%= backgroundX %>px 100%"></div>
  <div id="background" style="background-position: <%= foregroundX %>px 100%"></div>
  <div id="mayor">
    <audio class="jump" src="/assets/audio/jump.mp3"></audio>
    <audio class="coin" src="/assets/audio/coin.mp3"></audio>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>ID#</th>
      <th class="hidden-phone">Updated</th>
      <th>Type</th>
      <th>Location</th>
      <th>Status</th>
    </tr>
  <tbody>
  </tbody>
</table>