@import "../vendor/bootstrap/css/bootstrap.css";
/** Boostrap-Responsive always at bottom **/
@import "../vendor/bootstrap/css/bootstrap-responsive.css";

audio {
  display: none;
}

#scene {
  height: 236px;
  background-image: url(../img/skyline.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  margin-bottom: 20px;
  position: relative;
  z-index: -1000;
  overflow: hidden;
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: #BFE9FF;
  border-bottom: 8px solid black;
  transition: background-color 20s;
}

#scene.night {
  background-color: #0D0086;
}

#scene #mayor {
  width: 64px;
  height: 128px;
  background-image: url(../img/walk.gif);
  position: absolute;
  bottom: 0;
  left: 20%;
}

#scene #mayor.jump {
  background-image: url(../img/jump.gif);
  bottom: 48px;
}

#scene .beast {
  position: absolute;
  height: 48px;
  width: 48px;
  background-image: url(../img/spiny.gif);
  z-index: 1000;
  bottom: 0; 
  right: -36px;
}

#scene .beast.update {
  border: 4px solid orange;
  background-color: yellow;
  background-image: none;
  height: 40px;
  width: 40px;
  bottom: 176px;
  border-radius: 10px;
}

#scene .beast.update:after {
  position: absolute;
  content: "!";
  text-align: center;
  line-height: 40px;
  vertical-align: bottom;
  color: orange;
  font-size: 40px;
  height: 40px;
  width: 40px;
  bottom: 0;
}



