
audio,
.audio {
  display: none;
  height: 0;
}

#scene {
  height: 236px;
  margin-bottom: 20px;
  position: relative;
  z-index: -1000;
  overflow: hidden;
  border: 1px solid #DDD;
  border-radius: 4px;
  border-bottom: 8px solid black;
  transition: background-color 20s;
}

#scene #background {
  height: 100%;
  width: 100%;
  background-color: #BFE9FF#;
  position: absolute;
  z-index: -900;
  background-image: url(../img/daysky.png);
}

#scene.night #background {
  background-color: #0D0086;
  background-image: url(../img/nightsky.png);
}

#scene #foreground {
  background-image: url(../img/skyline.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -800;
}

#scene #mayor {
  width: 64px;
  height: 128px;
  background-image: url(../img/walk.gif);
  position: absolute;
  bottom: 0;
  left: 20%;
}

#scene #mayor.jump {
  background-image: url(../img/jump.gif);
  bottom: 48px;
}

#scene .beast {
  position: absolute;
  height: 48px;
  width: 48px;
  background-image: url(../img/spiny.gif);
  z-index: 1000;
  bottom: 0; 
  right: -36px;
}

#scene .beast.update {
  bottom: 176px;
  background-image: url(../img/box.gif);
}