@font-face {
  font-family: 'uni_05_63regular';
  src: url('/assets/font/uni05_63-webfont.eot');
  src: url('/assets/font/uni05_63-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/font/uni05_63-webfont.woff') format('woff'),
       url('/assets/font/uni05_63-webfont.ttf') format('truetype'),
       url('/assets/font/uni05_63-webfont.svg#uni_05_63regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
p {
  font-family: "uni_05_63regular", san-serif;
  font-size: 15px;
  color: #000;
}

a {
  font-size: inherit;
  color: #08C;
  text-decoration: none !important;
  padding-bottom: 0;
}

a:hover {
  color: #08C;
  text-shadow: 0.15em 0.15em 0 #000
}

table {
  margin-top: 0;
}

thead {
  background-color: #000;
}

table thead tr th {
  color: #ffffff; 
}

table tr {
  border-top: 2px solid #000;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: inherit;
}

td.srnum {
 white-space: nowrap;
}


abbr.timeago[title] {
  cursor: inherit;
  border-bottom: none;
}


audio,
.audio {
  display: none;
  height: 0;
}

#scene {
  height: 236px;
  position: relative;
  z-index: -1000;
  overflow: hidden;
  border-bottom: 8px solid black;
  transition: background-color 20s;
}

#scene #background {
  height: 100%;
  width: 100%;
  background-color: #BFE9FF#;
  position: absolute;
  z-index: -900;
  background-image: url(../img/daysky.png);
}

#scene.night #background {
  background-color: #0D0086;
  background-image: url(../img/nightsky.png);
}

#scene #foreground {
  background-image: url(../img/skyline.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -800;
}

#scene #mayor {
  width: 64px;
  height: 128px;
  background-image: url(../img/walk.gif);
  position: absolute;
  bottom: 0;
  left: 20%;
}

#scene #mayor.jump {
  background-image: url(../img/jump.gif);
  bottom: 48px;
}

#scene .beast {
  position: absolute;
  height: 48px;
  width: 48px;
  background-image: url(../img/spiny.gif);
  z-index: 1000;
  bottom: 0; 
  right: -36px;
}

#scene .beast.updated {
  bottom: 176px;
  background: transparent url(../img/boxes.png) no-repeat -48px 0;
}

#scene .beast.updated.active {
  background-position: 0 0;
}

#logo {
  float: left;
  margin: 5px 10px -10px 10px;
}

#description {
  margin: 20px 0 0 280px;
  font-size: 25px;
  line-height: 1.0;
  text-shadow: 0 0 0 #000;
}

#description a {
  font-size: inherit;
  color: #fbc321;
  text-decoration: none;
  padding-bottom: 0;
  white-space: nowrap;
}

footer {
  background-color: #eee;
  font-size: 15px;
}

footer p {
  padding: 15px 20px;
}

footer strong {
  color: #fbc321;
}

@media (min-width: 480px) and (max-width: 960px) {
  #description {
    margin-top: 25px;
    font-size: 17px;;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 !important;
    font-size: 12.5px;
  }
  
  footer {
    margin-bottom: -10px;
  }
    
  #logo {
    display: block;
    float: none;
    text-align: center;
    margin: 0 auto -10px;
  }
  #description {
    display: none;
  }
  
  td.srnum {
    text-align: center;
    font-size: 30px;
    lineheight: 2;
    vertical-align: middle;
  }
  
  td.srnum a:hover {
    border-color: transparent;
  }
}