<div id="navbar"></div>

<div id="body" class="container-fluid">
  <div id="page"></div>

  <footer>
    <p><strong>About this app:</strong> This application lists service requests within the City of Chicago's 311 system that have recently been created, updated or closed. It uses civic data from <a href="http://dev.cityofchicago.org/docs/api">Chicago's Open311 API</a>. Skyline graphic by <a href="http://tjmckimmey.com/">TJ McKimmey</a>, logo by <a href="http://iamakit.com/">Angel Kittiyachavalit</a>; most other stuff by <a href="http://island94.org">Ben Sheldon</a>. Check out the <a href="https://github.com/codeforamerica/super-mayor">source code on Github</a>.</p>
  </footer>
  
</div>